<div class="modal fade" id="filterPublicadoresModal" tabindex="-1" role="dialog"
  aria-labelledby="filterPublicadoresTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="filterPublicadoresTitle">
            Ver solo
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup]="formFiltroPublicadores" (ngSubmit)="filtrar()">
        <div class="modal-body">
          <div class="form-group">
            <label for="celular">Tipo</label>
            <select class="custom-select" formControlName="tipo">
              <option value="todos">Todos</option>
              <option value="ancianos">Ancianos</option>
              <option value="siervosministeriales">Siervos Ministeriales</option>
              <option value="precursores">Precursores regulares</option>
            </select>
          </div>
          <div class="form-group">
            <label for="celular">Grupo</label>
            <select class="custom-select" formControlName="grupo">
              <option value="todos">Todos</option>              
              <option *ngFor="let grupo of grupos" [value]="grupo">{{grupo}}</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary" [disabled]="formFiltroPublicadores.invalid || !cambioF">
            <i class="fa fa-save"></i> Guardar cambios
          </button>
        </div>
      </form>
    </div>
  </div>
</div>