<app-navbar *ngIf="logged"></app-navbar>
<router-outlet *ngIf="!logged"></router-outlet>

<div class="content-wrapper" *ngIf="logged">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <!-- Blank div to give the page height to preview the fixed vs. static navbar-->
        <router-outlet></router-outlet>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <!-- <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
                <small>Copyright © Your Website 2018</small>
            </div>
        </div>
    </footer> -->
    <!-- Scroll to Top Button-->
<!--     <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a> -->
</div>
