<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">RP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="[ '/hermanos' ]">Datos de publicadores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Informe mensual</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Reuniones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Mis datos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Cerrar sesión</a>
      </li>
    </ul>
  </div>
</nav>