<div class="modal fade" id="eliminarPublicadorModal" tabindex="-1" role="dialog" aria-labelledby="eliminarPublicadorModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eliminarPublicadorModalLabel">¿Eliminar hermano?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Esta seguro que desea eliminar a ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger">Si, eliminar</button>
      </div>
    </div>
  </div>
</div>
